footer {
    margin-top: 50px;
}

footer img {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 15px;
}

body{

}

#text-box-img {
    margin: 0px auto;
    width: 100%;
}

#text-a {
    position: absolute;
    left: 0;
    top: 26%;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    color: #d04239;
    font-size: 1.5rem;
    font-weight: 600;
}

.home-area{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

#bg-img {
    width: 100%;
}

.container{
    z-index: 999;
}

.chicken img {
    padding: 10px;
}

.user-panel {
    margin-bottom: 10px;
}

.wish-text-container {
    margin-top: 8px;
    margin-bottom: 10px;
    width: 90%;
}

.width-container {
    width: 90%;
}

.grow-progress-block img{
    width: 100%;
}

.requiredCardCount{
    float:right;
}




