footer {
    margin-top: 50px;
}

footer img {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.chicken img {
    padding: 10px;
}

.user-panel {
    margin-bottom: 10px;
}

#text-a{
    color: black;
    font-size: 2rem;
    position: relative;
    display: block;
    padding: 10px 5px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-decoration: none;
    height: 150px;
}

.wish-text-container {
    margin-top: 8px;
    margin-bottom: 10px;
    width: 90%;
}

.width-container {
    width: 90%;
}

.grow-progress-image-wrapper{
    width: 10%;
    background-color:deepskyblue;
    float: left;
}

.grow-progress-hyphen-wrapper{
    width: 8%;
    background-color:orange;
    float: left;
}

.grow-progress-hyphen{
    padding-bottom: 125%;
}

.grow-progress-image{
    padding-bottom: 100%;
}

.grow-progress-image img{
    width: 100%;
}

.grow-progress-block{
    padding: 10% 0;
}

.requiredCardCount{
    float:right;
}




