footer {
    margin-top: 50px;
}

footer img {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 15px;
}

#ev-card-text-id {
    font-size: 2rem;
    color: red;
}

.width-container {
    width:300px;
}

.user-panel {
    margin: 8px auto;

}