footer {
    margin-top: 50px;
}

footer img {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 15px;
}

.user-panel {
    margin: 8px auto;
    line-height: 44px;
}

#master-img {

}
